/* ======== PROJECT BUTTONS ======== */
.project-button {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid var(--color-tron-blue);
    color: var(--color-tron-blue);
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s ease;
    text-decoration: none;
}

.project-button:hover {
    background-color: var(--color-tron-blue);
    color: var(--color-dark-blue);
}


/* ======== PROJECT DETAIL PAGE ======== */
#project-detail {
    padding: 100px 10%;
    min-height: 60vh;
}

#project-detail p {
    font-size: 1.1rem;
    color: var(--color-light-gray);
    line-height: 1.7;
}
